.home{

   
    background-image:
    linear-gradient(
        rgba(200,200,200,0.5),
        rgba(200,200,200,0.5)
    ),
    url("https://s3-ap-south-1.amazonaws.com/static.awfis.com/wp-content/uploads/2017/07/07184649/ProjectManagement.jpg");
    height: 535px;
    background-size: cover;
}

